<!DOCTYPE html>
<html lang="en" ng-app="SignupApp">
<head>
    <meta charset="UTF-8">
    <title>FSF2017 - Day 10</title>

    <!--// Base libs //-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <!--// angular app FSFDay10App //-->
    <script src="/index.js"></script>
    <script src="/signupAppSvc.js"></script>
</head>
<body>
    <div class="btn-success text-center">
        <br />
        <h3>FSF2017 - Day 10: Registration</h3>
        <hr />
    </div>
    <div class="container">
        <div class="row" ng-controller="SignupCtrl as signupCtrl">
            <div class="col-sm-8 col-md-offset-2">
                <h3>{{signupCtrl.signUpMsg}}</h3>
                <form name="signupForm" ng-submit="signupCtrl.handleSignUp()" novalidate>
                    <div class="form-group row">
                        <label for="username" class="col-sm-4 form-control-label">Your Name</label>
                        <div class="col-sm-8">
                            <input required ng-model="signupCtrl.username" type="text" class="form-control" name="username" id="username" placeholder="Enter your name">
                            <span ng-show="signupCtrl.showError && signupForm.username.$invalid" class="text-danger">Invalid Name</span>
                        </div>
                    </div>
                    <div class="form-group row">    
                        <label for="useremail" class="col-sm-4 form-control-label">Your Email</label>
                        <div class="col-sm-8">
                            <input required ng-model="signupCtrl.useremail" type="email" class="form-control" name="useremail" id="useremail" placeholder="Enter your email">
                            <span ng-show="signupCtrl.showError && signupForm.useremail.$invalid" class="text-danger">Invalid Email</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userpassword" class="col-sm-4 form-control-label">Password</label>
                        <div class="col-sm-8">
                            <input required ng-model="signupCtrl.userpassword" type="password" minlength="8" class="form-control" name="userpassword" id="userpassword" placeholder="Enter your password">
                            <span ng-show="signupCtrl.showError && !signupCtrl.isValidPassword()" class="text-danger">Invalid Password</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-sm-4 form-control-label">Gender</label>
                        <div class="col-sm-8">
                            <input ng-model="signupCtrl.gender" value="Male" type="radio" name="gender" id="genderMale"> Male
                            <input ng-model="signupCtrl.gender" value="Female"  type="radio" name="gender" id="genderFemale"> Female
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dateOfBirth" class="col-sm-4 form-control-label">Date of Birth</label>
                        <div class="col-sm-8">
                            <input required ng-model="signupCtrl.dateOfBirth" type="date" class="form-control" name="dateOfBirth" id="dateOfBirth" >
                            <span ng-show="signupCtrl.showError && !signupCtrl.isValidAge()" class="text-danger">You must be at Least 18</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-4 form-control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea required ng-model="signupCtrl.address" class="form-control" name="address" id="address" placeholder="Enter your Address"></textarea>      
                            <span ng-show="signupCtrl.showError && signupForm.address.$invalid" class="text-danger">Invalid Address</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="country" class="col-sm-4 form-control-label">Country</label>
                        <div class="col-sm-8">
                            <select required ng-model="signupCtrl.countrySelected" class="form-control" name="country" id="country" >
                                <option ng-repeat="(index, countryInfo) in signupCtrl.countryList" value="{{countryInfo.code}}">{{countryInfo.name}}</option>
                            </select>    
                            
                        </div>
                    </div>
                    <div class="form-group row">    
                        <label for="contact" class="col-sm-4 form-control-label">Contact Number</label>
                        <div class="col-sm-8">
                            <input required ng-model="signupCtrl.contact" type="text" class="form-control" name="contact" id="contact" placeholder="Enter your contact">
                            <span ng-show="signupCtrl.showError && !signupCtrl.isValidContact()" class="text-danger">Invalid Contact number</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-left">
                            {{signupCtrl.errorMsg}}
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-12 text-right">
                            <button ng-disabled="signupForm.$invalid" type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
                
                
            </div>
        </div>
    </div>
</body>
</html>